vision-lms-frontend/node_modules
vision-lms-backend/node_modules
vision-lms-frontend/.env
vision-ams-frontend/src/firebase.js

# Local Netlify folder
.netlify
/vision-lms-frontend/src/mpesa.js
vision-lms-frontend/src/mpesa.js
